{% extends 'base.html' %}

{% block content %}
    <h2>Add Job</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Company:</label><br>
        <input type="text" name="company"><br><br>

        <label>Role:</label><br>
        <input type="text" name="role"><br><br>

        <label>Date Applied:</label><br>
        <input type="date" name="date"><br><br>

        <label>Status:</label><br>
        <select name="status">
        <option value="applied">Applied</option>
        <option value="pending">Pending</option>
        <option value="rejected">Rejected</option>
        <option value="selected">Selected</option>
        </select><br><br>


        <label>Job ID:</label><br>
        <input type="text" name="job_id"><br><br>

        <label>Job Description:</label><br>
        <textarea name="job_description"></textarea><br><br>

        <label>Notes:</label><br>
        <textarea name="notes"></textarea><br><br>

        </select><br><br>

        <button type="submit">Add Job</button>
    </form>
{% endblock %}