{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to HireTrack 🚀</h1>
    <a href="/add-job/">
        <button className="px-4 py-2 bg-blue-500 text-white rounded">Add Job</button>
    </a>
    <br><br>

    <a href="/jobs/">
        <button className="px-4 py-2 bg-blue-500 text-white rounded">View Jobs</button>
    </a>
    <br><br>

    <a href="/add-referral/">
        <button className="px-4 py-2 bg-blue-500 text-white rounded">Add Referral</button>
    </a>

    <br><br>

    <a href="/referrals/">
        <button className="px-4 py-2 bg-blue-500 text-white rounded">View Referrals</button>
    </a>

    <br><br>

    <a href="/dashboard/">
        <button className="px-4 py-2 bg-blue-500 text-white rounded">Dashboard</button>
    </a>
{% endblock %}