{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to HireTrack 🚀</h1>
    <a href="/add-job/">
        <button>Add Job</button>
    </a>
    <br><br>

    <a href="/jobs/">
        <button>View Jobs</button>
    </a>
    <br><br>

    <a href="/add-referral/">
        <button>Add Referral</button>
    </a>

    <br><br>

    <a href="/referrals/">
        <button>View Referrals</button>
    </a>

    <br><br>

    <a href="/dashboard/">
        <button>Dashboard</button>
    </a>
{% endblock %}